{% load staticfiles %}

<a data-toggle="collapse" href="#shpLayers" aria-expanded="false" aria-controls="shpLayers">
    <h4 class="map-control-item-heading">Storm Visualization
        <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
    </h4>
    <p class="qualifier" style="margin-bottom: 0">created by Storm Hazard Projection Tool</p>
</a>
<div class="collapse" id="shpLayers">

    <div class="well rss-auto">
        <div class="shp-cat-title auto">Active Storms
            <div class="shp-cat" title="Based on latest track from NHC/NWS">active</div>
        </div>
        <div id="activeStormGroup">
            <div id="activeStorm" class="hidden">
                <div id="storm_heading" class="map-layer-group-heading auto">
                    <a id="storm_link" data-toggle="collapse" href="" aria-expanded="false"
                       aria-controls=""></a>
                </div>
                <p class="follow-unfollow" id="last_updated">today 8:56 a.m.</p>
            </div>
            <div id="unfollowActiveStorm" class="hidden map-layer-group-heading auto not-following">
                <i class="fa fa-chevron-right invisible" aria-hidden="true"></i>
                <div id='unfollow-badge' class=""></div>
            </div>

        </div>
    </div>
</div>
<a class="btn btn-primary btn-md btn-block" href="shp-tool.html" style="margin-top: 30px">Run New Simulation</a>
<a class="btn btn-secondary btn-md btn-block" href="explore-shp.html" style="margin-bottom: 20px">Explore
    Simulations</a>


<script src="{% static 'js/utilities.js' %}"></script>
<script>

    $(document).ready(function () {

        console.log('IN THE STORM VISUALIZATION!');
        get_rss_feed();

    });

    /*
Ajax call to the server. Returns JSON with layers in it.
TODO: Will need to update url
*/
    function get_rss_feed() {
        $.ajax({
            type: "GET",
            url: "/static/rss_feed.json",
            data: {},
            dataType: "json",
            success: function (result) {
                console.log("RSS FEED -- SUCCESS!");
                console.log(result);
                add_active_storm_to_menu(result.active_storms)
            },
            error: function (result) {
                console.log("ERROR:", result)
            }
        });
    }

    /*
Function to pull the layer groups out and call the appropriate function
for layer group or layer to be added to the menu.
 */
    function add_active_storm_to_menu(active_storms) {
        console.log("Adding storms to menu...");
        active_storms.forEach(function (item) {

            var camelcaseName = camelize(item.name.toLowerCase());

            var active_storm_template = $('#activeStorm').clone(true);
            $(active_storm_template).addClass(camelcaseName);
            $(active_storm_template).find('a').attr('href', '#' + camelcaseName).attr('aria-controls', camelcaseName);

            // Set the correct badge icon for the storm type
            var badge_type = "";
            if(item.type == "H") {
                badge_type = "h-badge";
             } else if (item.type == "N") {
               badge_type = "n-badge";
             }

            $(active_storm_template).find('a#storm_link')
                .append("<i class=\"fa fa-chevron-right\" aria-hidden=\"true\"></i>")
                .append("<div id=\"storm_type\" class=\"storm_badge " + badge_type +"\">"+ item.type + "</div>")
                .append(item.name)
                .append("<span title=\"Unfollow\"><i class=\"fa fa-minus-circle\" aria-hidden=\"true\" id=\""+
                    camelcaseName + "_unfollow\" onclick=\"unfollowClick($(this).parent().parent().parent().parent())\"></i></span>");

            // Unhide the block and append to the list
            $(active_storm_template).removeClass('hidden');
            $("#activeStormGroup").append(active_storm_template);
        });
    }

    function unfollowClick(parent) {
        var storm_name = parent.attr('class');
        var classname = '.' + storm_name;

        // Hide the following active storm
        $(classname).addClass('hidden');

        // Add the unfollowed active storm
        var unfollow_storm_template = $('#unfollowActiveStorm').clone(true);
        $(unfollow_storm_template).addClass(storm_name);
        var badge_class = parent.find('div.storm_badge').attr("class");

        var badge_innerText = parent.find('div.storm_badge').text();
        $(unfollow_storm_template).find('div#unfollow-badge').addClass(badge_class).text(badge_innerText);

        var storm_name_text = parent.find('a#storm_link').clone().children() //select all the children
                                                                 .remove()   //remove all the children
                                                                 .end()  //again go back to selected element
                                                                 .text();

        unfollow_storm_template.append(storm_name_text)
    .append("<span title=\"Follow\"><i id=\"" + storm_name + "\" class=\"fa fa-plus-circle\" aria-hidden=\"true\" " +
        "onclick=\"followClick($(this))\"></i></span>")
    .append("<p class=\"follow-unfollow\">not following</p>");

        $(unfollow_storm_template).removeClass('hidden');
        $("#activeStormGroup").append(unfollow_storm_template);
        console.log("Successfully unfollowed ", storm_name_text);
    }


    function followClick(storm) {
        var storm_class_name = storm.attr('id');
        $('#activeStorm.' + storm_class_name).removeClass('hidden');
        $('#unfollowActiveStorm.' + storm_class_name).addClass('hidden');
    }
</script>