/*
 * Style overrides for NJ Coast
 */

hr {
  margin: 40px 0;
}

p.larger {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn.btn-secondary {
  background: #efefef;
  color: #333;
}
.btn.btn-secondary:hover {
  background: #ddd;
  color: #222;
}

.row.spaced {
  margin-bottom: 30px; 
}

.well.well-reverse {
  background: #d2d8e2;
  border: none;
  border-top: 4px solid #1f3a6e;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 29px;
  color: #1f3a6e;
}

.home .navbar-inverse {
  background-color: rgba(15,37,58,0.8); /* rgba(18,32,60,0.7); */
}

.navbar-brand {
  background: url("../images/njcoast-logo_white.png") 0 10px no-repeat;
  background-size: contain;
  height: 65px;
  width: 170px;
  margin-right: 10px;
}

.jumbotron.njcoast-image {
  background: #2c689c url(../images/njcoast-banner.jpg) center center no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 4px rgba(0,0,0,1.0);
  padding: 6em 0 2.5em;
}

.jumbotron.njcoast-image h1 {
  font-size: 52px;
  color: #eb6b00; /* #ff8f31; */
}

.jumbotron.njcoast-image .action-box {
  margin: 0px -15px 0;
  background-color: rgba(33,32,17,0.5); /* rgba(255,255,255,0.7); */
  padding: 25px 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.jumbotron.njcoast-image .action-box h3 {
  margin-top: 0;
}

.jumbotron.njcoast-image .action-box p {
  font-weight: normal;
}

.jumbotron.njcoast-image .action-box a.btn {
  color: #fff;
}

.jumbotron.njcoast-image .action-box p.qualifier {
  margin-top: 8px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center; 
  letter-spacing: 0.5px;
}

.jumbotron.njcoast-image.slim {
  padding: 3.5em 0;
}

.jumbotron.njcoast-image.slimmer {
  padding: 2.6em 0;
}


.gray-zone { 
  background: #f5f5f5;
  border: solid 1px #e5e5e5;
  border-right: 0px;
  border-left: 0px;
  padding: 60px 15px 40px;
}

.gray-zone-symmetric { 
  background: #f5f5f5;
  border: solid 1px #e5e5e5;
  border-right: 0px;
  border-left: 0px;
  padding: 30px 15px 40px;
}

.dk-gray-zone-symmetric { 
  background: #ddd;
  padding: 40px 15px;
  border-top: solid 1px #ccc;
}

.emphasis {
  color: #1f3a6e;
  font-size: 18px;
  padding: 0;
  position: relative;
  margin-top: 20px;
} 

.emphasis p {
  position: relative;
}

img.watermark {
  position: absolute;
  top: -70px;
  left: 0px;
}

.container.ways-to-use {
  text-align: center;
}
.container.ways-to-use h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
.container.ways-to-use .col-sm-4 {
  padding: 40px 20px 30px;
}
.container.ways-to-use img {
  margin-bottom: 10px;
}

.container.ads {
}

.container.ads #research,
.container.ads #training {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container.ads h1 {
  margin-top: 0;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 40px;
}
.container.ads h5 {
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f07d20;
}
.container.ads img.half-size {
  max-width: 40%;
  margin: 0 auto;
}

.container.ads #recent-news h2 {
  font-weight: 400;
  letter-spacing: 1px;  
}

.home .big-search {
  background: #122d46; /* #14334f; #12203c; */
}

.reduce-on-mobile {
  margin: 15px 0 0 0;
}


/* Dashboards */

.gray-zone .page-header {
  padding: 0 10px 4px;
  margin: -40px -10px 20px;
  border-bottom: 1px solid #ddd;
}

.gray-zone .page-header h3 {
  margin: 0;
  font-weight: 400;
}

.gray-zone .page-header p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #eb6b00;
  margin-bottom: 2px;
}
.gray-zone .page-header p span {
  padding: 0 5px;
}

.list-group-item {
  padding: 20px;
}

.list-group-item#map-item {
  background: url("../images/map-dash.png") center center no-repeat;
  background-size: cover; 
  padding-top: 100px;
}

ul.dashboard-list {
  list-style: none;
  padding: 0 0 0 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
}
ul.dashboard-list li {
  padding: 5px 0;
}
ul.dashboard-list li p {
  font-size: 0.7em;
  color: #999;
  line-height: 1.2;
  margin-bottom: 0;
}

ul.dashboard-list li span.status {
  font-size: 0.7em;
  color: #999;
  text-transform: uppercase;
  float: right;
  color: #eb6b00;
}


/* Map page */

.page-header.map-header {
  margin: 10px -15px 0;
  padding: 0 15px 10px;
  border-bottom: 1px solid #ddd;
}

.page-header.map-header a.btn-title {
  font-weight: 600;
  font-size: 18px;
  padding: 8px 20px 6px;
  margin: 0 10px 0 0;
  color: #333;
}

.page-header.map-header .dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
} 

.page-header.map-header .dropdown-item:focus,
.page-header.map-header .dropdown-item:hover {
  color: #116181b;
  text-decoration: none;
  background-color: #f5f5f5;
} 

.page-header.map-header .dropdown-divider {
  height: 0;
  margin: 5px 0;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
} 

.page-header.map-header p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.0;
  color: #eb6b00;
  margin-bottom: 0;
}
.page-header.map-header p span {
  padding: 0 5px;
}

#map-control-panel,
#tool-control-panel {
  height: 80vh;
  overflow: scroll;
}

.map-control-item {
  padding: 10px 10px 20px 20px;
  border-bottom: 1px solid #ddd;
}
.map-control-item:first-child {
  padding-top: 15px;
}

.map-control-item-heading {
  margin-top: 8px;
  margin-bottom: 5px;
  color: #333;
}

.map-control-item a,
.map-control-item .collapse a,
.map-control-item button {
  outline: 0;
}
.map-control-item a:focus {
  text-decoration: none;
}

p.map-layer-group-heading {
  text-transform: uppercase;
  margin: 15px 0 0;
}
p.map-layer-group-heading span {
  float: right;
}

.well.rss-auto {
  border: 1px solid rgba(235,107,0,0.2);
  border-radius: 0;
  border-left: none;
  border-right: none;
  box-shadow: none;
  margin: 20px -10px 0;
  background: rgba(235,107,0,0.05);
}
.list-group-item .well.rss-auto {
  margin: 20px 0 20px;
}

p.rss-auto-title {
  color: #666;
  font-size: 12px;
}
p.rss-auto-title span {
  text-transform: uppercase;
  float: right;
}

.follow-unfollow {
  font-size: 12px;
  color: #999;
  font-style: italic;
  margin: -4px 0 0 16px;
}
.list-group-item .follow-unfollow {
  margin: -4px 0 0 0;
}

.not-following {
  color: #999;
}


p.qualifier {
  font-size: 12px;
  color: #999;
  font-style: italic;
  margin-top: -5px;
}

.placeholder-box {
  margin-top: 10px;
  padding: 50px 10px;
  background: #e5e5e5;
  text-align: center;
  font-style: italic;
}

.tab-content {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

ul.map-layers {
  list-style-type: none;
  padding-left: 35px;
}

ul.map-layers li {
  text-indent: -20px;
  font-size: 16px;
  line-height: 1.2;
  margin: 10px 0 0;
}

ul.map-layers li span {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

.leaflet-map {
  background-size: cover;
  height: 80vh;
  padding: 0;
  border: 1px solid #ddd;
  border-top: none;
}

#leaflet-map-menu {
  background: #fff;
  border-top: 1px solid #ddd;
  margin: 5px -15px 0;
  padding-top: 5px;
}

#leaflet-map-cntrls {
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#map-nav {
  width: 50px;
  margin: 10px 0 0 5px;
}

#map-scale {
  position: absolute;
  bottom: 60px;
  right: 10px;
}

#leaflet-map-tabs {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 50px;
}

.leaflet-map .nav.nav-tabs > li > a {
  background: rgba(255,255,255,0.75);
  margin-right: 4px;
  border: 1px solid #ddd;
}

/* SHP Tool */

p.tool-heading {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  margin-top: 20px;
}
p.tool-heading:first-child {
  margin-top: 5px;
}

.map-control-item .dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
} 

.map-control-item .dropdown-item:focus,
.map-control-item .dropdown-item:hover {
  color: #116181b;
  text-decoration: none;
  background-color: #f5f5f5;
} 

p.equation {
  text-align: center;
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}

.table.shp-table {
  margin-top: 15px;
  margin-bottom: 0;
}
.table.shp-table th {
  vertical-align: middle;
  border-top: none;
}
.table.shp-table td {
  border-top: none;
  padding: 2px 8px;
}

.well.plain {
  border: none;
}

p.slider-label {
  margin: 10px 0 5px;
}

.shp-controls {
  font-size: 0.8em;
}
.shp-controls input {
  display: inline-block;
}
.shp-controls input.range-input {
  width: 58%;
  vertical-align: middle;
}
.shp-controls input.num-input {
  width: 18%;
  margin-left: 5px;
}

.shp-tool-radios {
  list-style-type: none;
  padding-left: 10px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {

  .jumbotron.njcoast-image .action-box {
    margin-top: 50px;
  }
  .gray-zone-symmetric { 
    padding: 0 0 40px;
  }
  .emphasis {
    padding: 0 20px;
    margin-top: 40px;
  } 
  .emphasis img {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .remove-on-mobile {
    display: none;
  }
  .reduce-on-mobile {
    width: 50%;
    margin: 20px auto;
  }

}
