{% extends 'base.html' %}

{% block extra-headers %}

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
            integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
            crossorigin=""></script>
{% endblock extra-headers %}


{% block map %}

    <div id="mapid" class="col-sm-8 col-lg-9 col-xl-10" style="width: 100%; height: 100%;"></div>

{% endblock map %}


{% block gis-map-controls-block %}
                    <a data-toggle="collapse in" href="#gisLayers" aria-expanded="false" aria-controls="gisLayers">
                        <h4 class="map-control-item-heading">GIS Layers
                            <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></h4>
                        <p class="qualifier" style="margin-bottom: 0">for Planning role</p>
                    </a>
                    <div class="collapse in" id="gisLayers">
                        <p class="map-layer-group-heading">
                            <a data-toggle="collapse" href="#baseMapping" aria-expanded="false"
                               aria-controls="baseMapping">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Base Mapping
                            </a>
                        </p>
                        <ul class="collapse map-layers" id="baseMapping"></ul>

                    </div>
{% endblock gis-map-controls-block %}


{% block extra_js_bottom %}
    <script>
        /*
        Base Map -- Centered on Keansburg, NJ
        WMS Tile Layers
        Data: Watershed Boundary Dataset - National Hydrography Overlay Map Service
              https://catalog.data.gov/dataset/usgs-national-watershed-boundary-dataset-wbd-
              downloadable-data-collection-national-geospatial-/resource/f55f881d-9de8-471f-9b6b-22cd7a98025d
        XML: https://services.nationalmap.gov/arcgis/services/nhd/MapServer/WMSServer?request=GetCapabilities&service=WMS
         */
        var mymap = L.map('mapid').setView([40.4417743, -74.1298643], 12);
        var layer_list = [];

        $(document).ready(function () {

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            get_layers_from_server();

        });

        function get_layers_from_server() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8000/static/gis_layers.json",
                data: {},
                dataType: "json",
                success: function (result) {
                    console.log("SUCCESS!");
                    {#console.log(result.layers);#}
                    process_layers(result.layers);
                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        function process_layers(layers) {
            layers.forEach(function (item) {
                {#console.log(item);#}
                add_layer_to_menu(item);
            });
        }

        function add_layer_to_menu(layer) {
            // Create the HTML <li> for each layer and append to the <ul>
            var layer_html = '<li><input id="' + $.trim(layer.id) + '" type="checkbox" name="gender" value="male"> ' + $.trim(layer.name) + '</li>';
            $("#baseMapping").append(layer_html);
            layer.maplayer = L.tileLayer.wms(layer.layer_link, {layers: layer.layer, transparent: true, format: 'image/png'});
            layer_list.push(layer);

            $('#' + $.trim(layer.id)).click(function () {
                {#var link = layer.layer_link;#}
                if ($(this).is(':checked')) {
                    for(var i=0; i<layer_list.length; i++) {
                        if (layer_list[i].id == this.id){
                            console.log("found matching layer: " + this.id);
                            layer_list[i].maplayer.addTo(mymap);
                        }
                    }
                } else {
                    /* TODO: Figure out how to get layers off the map */
                    for(var i=0; i<layer_list.length; i++) {
                        if (layer_list[i].id == this.id){
                            console.log("found matching layer: " + this.id);
                            mymap.removeLayer(layer_list[i].maplayer);
                        }
                    }
                }
            });
        }
    </script>
{% endblock extra_js_bottom %}
