            <a data-toggle="collapse" href="#shpLayers" aria-expanded="false" aria-controls="shpLayers">
              <h4 class="map-control-item-heading">Storm Visualization <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></h4>
              <p class="qualifier" style="margin-bottom: 0">created by Storm Hazard Projection Tool</p>
            </a>
            <div class="collapse" id="shpLayers">

              <div class="well rss-auto">
              <div class="shp-cat-title auto">Active Storms <div class="shp-cat" title="Based on latest track from NHC/NWS">active</div></div>
              <div class="map-layer-group-heading auto">
                <a data-toggle="collapse" href="#hurricaneJose" aria-expanded="false" aria-controls="hurricaneJose">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="h-badge">H</div>Hurricane Jose <span title="Unfollow"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                </a>
              </div>
              <p class="follow-unfollow">today 8:56 a.m.</p>

              <div class="collapse" id="hurricaneJose">
                <ul class="map-layers">
                  <li><input type="checkbox" name="gender" value="female"> Wind Field</li>
                  <li><input type="checkbox" name="gender" value="female"> Surge</li>
                  <li><input type="checkbox" name="gender" value="female" checked> Total Run Up</li>
                </ul>
                <div class="well plain orange">
                  <h5>Explore Scenarios</h5>
                  <ul class="map-layers">
                    <li class="surge-controls">
                      <p>Seal Level Rise</p>
                      <div class="shp-controls">
                        <input class="range-input" data-target="slr" min="0" max="1.5" step="0.1" value="0" type="range">
                        <input id="input_slr" class="num-input job-input" name="slr" value="0" type="text">
                       ft
                      </div>
                    </li>
                    <li class="surge-controls">
                      <p>Coastal Protection (e.g. dunes)</p>
                      <ul class="one-line">
                        <li><input type="radio" name="dunes" value="current" checked> Current</li>
                        <li><input type="radio" name="dunes" value="degraded"> Degraded</li>
                        <li><input type="radio" name="dunes" value="compromised"> Compromised</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Tides</p>
                      <ul class="one-line">
                        <li><input type="radio" name="tide" value="low"> Low</li>
                        <li><input type="radio" name="tide" value="zero" checked> Zero</li>
                        <li><input type="radio" name="tide" value="high"> High</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Analysis Type</p>
                      <ul>
                        <li><input type="radio" name="analysis" value="det" checked> Deterministic</li>
                        <li><input type="radio" name="analysis" value="prob-exp"> Probabilistic <span>expected</span></li>
                        <li><input type="radio" name="analysis" value="prob-ext"> Probabilistic <span>extreme</span></li>
                      </ul>
                    </li>
                  </ul>
                  <a class="btn btn-primary btn-md btn-block" href="shp-tool.html" style="margin-top: 30px">Update Map</a>
                </div>
              </div>

              <div class="map-layer-group-heading auto">
                <a data-toggle="collapse" href="#hurricaneKaitlin" aria-expanded="false" aria-controls="hurricaneKaitlin">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="h-badge">H</div>Hurricane Kaitlin<span title="Unfollow"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                </a>
              </div>
              <p class="follow-unfollow">today 9:08 a.m.</p>

              <div class="collapse" id="hurricaneKaitlin">
                <ul class="map-layers">
                  <li><input type="checkbox" name="gender" value="female"> Wind Field</li>
                  <li><input type="checkbox" name="gender" value="female" checked> Surge</li>
                  <li><input type="checkbox" name="gender" value="female"> Total Run Up</li>
                </ul>
                <div class="well plain orange">
                  <h5>Explore Scenarios</h5>
                  <ul class="map-layers">
                    <li class="surge-controls">
                      <p>Seal Level Rise</p>
                      <div class="shp-controls">
                        <input class="range-input" data-target="rm" min="0" max="1.5" step="0.1" value="0" type="range">
                        <input id="input_slr" class="num-input job-input" name="slr" value="1.1" type="text">
                       ft
                      </div>
                    </li>
                    <li class="surge-controls">
                      <p>Coastal Protection (e.g. dunes)</p>
                      <ul class="one-line">
                        <li><input type="radio" name="dunes-1" value="current" checked> Current</li>
                        <li><input type="radio" name="dunes-1" value="degraded"> Degraded</li>
                        <li><input type="radio" name="dunes-1" value="compromised"> Compromised</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Tides</p>
                      <ul class="one-line">
                        <li><input type="radio" name="tide-1" value="current"> Low</li>
                        <li><input type="radio" name="tide-1" value="current" checked> Zero</li>
                        <li><input type="radio" name="tide-1" value="degraded"> High</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Analysis Type</p>
                      <ul>
                        <li><input type="radio" name="analysis-1" value="current" checked> Deterministic</li>
                        <li><input type="radio" name="analysis-1" value="current"> Probabilistic <span>expected</span></li>
                        <li><input type="radio" name="analysis-1" value="current"> Probabilistic <span>extreme</span></li>
                      </ul>
                    </li>
                  </ul>
                  <a class="btn btn-primary btn-md btn-block" href="shp-tool.html" style="margin-top: 30px">Update Map</a>
                </div>
              </div>
              <div class="map-layer-group-heading auto not-following">
                <i class="fa fa-chevron-right invisible" aria-hidden="true"></i> <div class="h-badge">H</div>Hurricane Liam <span title="Follow"><a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a></span>
                </a>
              </div>
              <p class="follow-unfollow">not following</p>
              </div>
              <div class="shp-cat-title historical">Historical Storm Tracks <div class="shp-cat" title="Older simultaions based on historical tracks from NHC/NWS">archived</div></div>
              <div class="map-layer-group-heading historical">
                <a data-toggle="collapse" href="#hurricaneSandy" aria-expanded="false" aria-controls="hurricaneSandy">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="h-badge">H</div>Hurricane Sandy<span><i class="fa fa-close" aria-hidden="true"></i></span>
                </a>
              </div>
              <p class="follow-unfollow">Oct 22, 2012 10:24a.m.</p>

              <div class="collapse" id="hurricaneSandy">
                <ul class="map-layers">
                  <li><input type="checkbox" name="gender" value="female"> Wind Field</li>
                  <li><input type="checkbox" name="gender" value="female"> Surge</li>
                  <li><input type="checkbox" name="gender" value="female" checked> Total Run Up</li>
                </ul>
                <div class="well plain orange">
                  <h5>Explore Scenarios</h5>
                  <ul class="map-layers">
                    <li class="surge-controls">
                      <p>Seal Level Rise</p>
                      <div class="shp-controls">
                        <input class="range-input" data-target="rm" min="0" max="1.5" step="0.1" value="0" type="range">
                        <input id="input_slr" class="num-input job-input" name="slr" value="0" type="text">
                       ft
                      </div>
                    </li>
                    <li class="surge-controls">
                      <p>Coastal Protection (e.g. dunes)</p>
                      <ul class="one-line">
                        <li><input type="radio" name="dunes-2" value="current" checked> Current</li>
                        <li><input type="radio" name="dunes-2" value="degraded"> Degraded</li>
                        <li><input type="radio" name="dunes-2" value="compromised"> Compromised</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Tides</p>
                      <ul class="one-line">
                        <li><input type="radio" name="tide-2" value="current"> Low</li>
                        <li><input type="radio" name="tide-2" value="current" checked> Zero</li>
                        <li><input type="radio" name="tide-2" value="degraded"> High</li>
                      </ul>
                    </li>
                    <li class="surge-controls">
                      <p>Analysis Type</p>
                      <ul>
                        <li><input type="radio" name="analysis-2" value="current" checked> Deterministic</li>
                        <li><input type="radio" name="analysis-2" value="current"> Probabilistic <span>expected</span></li>
                        <li><input type="radio" name="analysis-2" value="current"> Probabilistic <span>extreme</span></li>
                      </ul>
                    </li>
                  </ul>
                  <a class="btn btn-primary btn-md btn-block" href="shp-tool.html" style="margin-top: 30px">Update Map</a>
                </div>
              </div>

              <div class="shp-cat-title what-if" style="margin-top: 30px">User-specified Scenarios <div class="shp-cat" title="Based on user-specified scenarios from manual SHP Tool runs">what-if</div></div>
              <div class="map-layer-group-heading what-if">
                <a data-toggle="collapse" href="#hurricane-5" aria-expanded="false" aria-controls="hurricane-5">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="h-badge">H</div>Hurricane Run #5<span><i class="fa fa-close" aria-hidden="true"></i></span>
                </a>
              </div>
              <p class="follow-unfollow">by j.marquette • Jan 17, 2018</p>
              <ul class="collapse map-layers" id="hurricane-5">
                  <li><input type="checkbox" name="gender" value="female"> Wind Field</li>
                  <li><input type="checkbox" name="gender" value="female"> Surge</li>
                  <li><input type="checkbox" name="gender" value="female" checked> Total Run Up</li>
                  <li class="shp-scenario"><span>Sea Level Rise:</span> 1.1ft<br/><span>Coastal Protection:</span> Current<br/><span>Tides:</span> Zero<br/><span>Analysis type:</span> Deterministic</li>
              </ul>
              <div class="map-layer-group-heading what-if">
                <a data-toggle="collapse" href="#noreaster-2" aria-expanded="false" aria-controls="noreaster-2">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="n-badge">N</div>Nor'easter Run #2<span><i class="fa fa-close" aria-hidden="true"></i></span>
                </a>
              </div>
              <p class="follow-unfollow">by s.smith • Dec 23, 2017</p>
                <ul class="collapse map-layers" id="noreaster-2">
                  <li><input type="checkbox" name="gender" value="female"> Wind Field</li>
                  <li><input type="checkbox" name="gender" value="female"> Surge</li>
                  <li><input type="checkbox" name="gender" value="female" checked> Total Run Up</li>
                  <li class="shp-scenario"><span>Sea Level Rise:</span> 1.1ft<br/><span>Coastal Protection:</span> Current<br/><span>Tides:</span> Zero<br/><span>Analysis type:</span> Deterministic</li>
                </ul>
                </li>
              </ul>
              <a class="btn btn-primary btn-md btn-block" href="shp-tool.html" style="margin-top: 30px">Run New Simulation</a>
              <a class="btn btn-secondary btn-md btn-block" href="explore-shp.html" style="margin-bottom: 20px">Explore Simulations</a>
            </div>

{#{% block extra_js %}#}
{#     {{ block.super }}#}
<script>

            $(document).ready(function () {

                console.log('IN THE STORM VISUALIZATION!');

        });

</script>
{#{% endblock %}#}